### 這堂課目標：三個進化版的機器學習套件
<li>XGB (Extreme Gradient Boosting)</li>
<li>LightGBM (Light Gradient Boosting Machine)</li>
<li>Catboost (Categorical Boosting)</li>
    
#### 參考資料
- <a href="https://towardsdatascience.com/catboost-vs-light-gbm-vs-xgboost-5f93620723db">總整理（英文）</a>
- <a href="https://codertw.com/程式語言/510420/">總整理（中譯）</a>
- <a href="https://lavanya.ai/2019/06/27/battle-of-the-boosting-algorithms/">另一個探討文章（英文）</a>
- <a href="https://kknews.cc/zh-tw/tech/vlxj8n2.html">另一個探討文章（中譯）</a>
- <a href="https://arxiv.org/pdf/1809.04559.pdf">研究論文</a>

#### 第0步：安裝套件
code originally written by Alvira Swalin

In [1]:
import numpy as np
import pandas as pd
import time
from sklearn.model_selection import train_test_split

#### 1.載入資料

In [2]:
data = pd.read_csv("flights_500k.csv")
data = data.sample(frac = 0.2, random_state=10)  #如果電腦跑太慢可以回來使用

In [3]:
print(data.shape)
data.head()

(116382, 31)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
167584,2015,6,25,4,DL,2114,N371DA,COS,ATL,630,...,1326.0,126.0,0,0,NaN,0.0,0.0,126.0,0.0,0.0
560454,2015,11,21,6,VX,1916,N844VA,SFO,LAS,2105,...,2223.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
218029,2015,5,21,4,AA,1221,N4YBAA,FAT,DFW,600,...,1109.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
156358,2015,5,12,2,WN,734,N941WN,MDW,SEA,1450,...,1708.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
408552,2015,2,20,5,WN,4905,N431WN,FLL,BUF,1510,...,1757.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

#### 2.清洗資料（data cleaning / Feature engineering）

In [4]:
##選其中幾欄出來
data = data[["MONTH","DAY","DAY_OF_WEEK","AIRLINE","FLIGHT_NUMBER","DESTINATION_AIRPORT",
                 "ORIGIN_AIRPORT","AIR_TIME", "DEPARTURE_TIME","DISTANCE","ARRIVAL_DELAY"]]
print(data.shape)
data.head()

(116382, 11)

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,DESTINATION_AIRPORT,ORIGIN_AIRPORT,AIR_TIME,DEPARTURE_TIME,DISTANCE,ARRIVAL_DELAY
167584,6,25,4,DL,2114,ATL,COS,142.0,846.0,1184,126.0
560454,11,21,6,VX,1916,LAS,SFO,60.0,2103.0,414,-7.0
218029,5,21,4,AA,1221,DFW,FAT,173.0,556.0,1313,-6.0
156358,5,12,2,WN,734,SEA,MDW,244.0,1448.0,1733,-7.0
408552,2,20,5,WN,4905,BUF,FLL,155.0,1504.0,1165,-23.0

In [5]:
##丟掉缺失值欄位
data.dropna(inplace=True)
print(data.shape)
data.head()

(114320, 11)

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,DESTINATION_AIRPORT,ORIGIN_AIRPORT,AIR_TIME,DEPARTURE_TIME,DISTANCE,ARRIVAL_DELAY
167584,6,25,4,DL,2114,ATL,COS,142.0,846.0,1184,126.0
560454,11,21,6,VX,1916,LAS,SFO,60.0,2103.0,414,-7.0
218029,5,21,4,AA,1221,DFW,FAT,173.0,556.0,1313,-6.0
156358,5,12,2,WN,734,SEA,MDW,244.0,1448.0,1733,-7.0
408552,2,20,5,WN,4905,BUF,FLL,155.0,1504.0,1165,-23.0

In [6]:
##建立預測目標
data["ARRIVAL_DELAY"] = (data["ARRIVAL_DELAY"]>10)*1
data.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,DESTINATION_AIRPORT,ORIGIN_AIRPORT,AIR_TIME,DEPARTURE_TIME,DISTANCE,ARRIVAL_DELAY
167584,6,25,4,DL,2114,ATL,COS,142.0,846.0,1184,1
560454,11,21,6,VX,1916,LAS,SFO,60.0,2103.0,414,0
218029,5,21,4,AA,1221,DFW,FAT,173.0,556.0,1313,0
156358,5,12,2,WN,734,SEA,MDW,244.0,1448.0,1733,0
408552,2,20,5,WN,4905,BUF,FLL,155.0,1504.0,1165,0

In [7]:
##把類別資料上數字標籤
cols = ["AIRLINE","FLIGHT_NUMBER","DESTINATION_AIRPORT","ORIGIN_AIRPORT"]
for item in cols:
    data[item] = data[item].astype("category").cat.codes +1
data.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,DESTINATION_AIRPORT,ORIGIN_AIRPORT,AIR_TIME,DEPARTURE_TIME,DISTANCE,ARRIVAL_DELAY
167584,6,25,4,4,2110,298,346,142.0,846.0,1184,1
560454,11,21,6,13,1913,452,551,60.0,2103.0,414,0
218029,5,21,4,1,1218,364,383,173.0,556.0,1313,0
156358,5,12,2,14,732,555,468,244.0,1448.0,1733,0
408552,2,20,5,14,4822,327,387,155.0,1504.0,1165,0

In [8]:
data["ARRIVAL_DELAY"].value_counts()

0    89193
1    25127
Name: ARRIVAL_DELAY, dtype: int64

#### 3.分訓練集跟測試集（train test split）

In [9]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(["ARRIVAL_DELAY"], axis=1), data["ARRIVAL_DELAY"],
                                                random_state=10, test_size=0.25)

## XGBoost

#### 4.定義模型

In [10]:
import xgboost as xgb
from sklearn import metrics

def auc(m, train, test): 
    return (metrics.roc_auc_score(y_train,m.predict_proba(train)[:,1]),
                            metrics.roc_auc_score(y_test,m.predict_proba(test)[:,1]))
model = xgb.XGBClassifier(max_depth=50, min_child_weight=1, n_estimators=200,verbosity=1,learning_rate=0.16,)

/Users/harryhowiefish/anaconda3/lib/python3.7/site-packages/dask/config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}
/Users/harryhowiefish/anaconda3/lib/python3.7/site-packages/distributed/config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

#### 5.訓練模型

In [11]:
eval_set = [(X_test, y_test)]
model.fit(X_train, y_train, eval_metric="auc", eval_set=eval_set, verbose=True,early_stopping_rounds=2)

[0]	validation_0-auc:0.63007
Will train until validation_0-auc hasn't improved in 2 rounds.
[1]	validation_0-auc:0.64879
[2]	validation_0-auc:0.65687
[3]	validation_0-auc:0.66291
[4]	validation_0-auc:0.66546
[5]	validation_0-auc:0.67162
[6]	validation_0-auc:0.67534
[7]	validation_0-auc:0.67919
[8]	validation_0-auc:0.68148
[9]	validation_0-auc:0.68384
[10]	validation_0-auc:0.68640
[11]	validation_0-auc:0.68832
[12]	validation_0-auc:0.69072
[13]	validation_0-auc:0.69216
[14]	validation_0-auc:0.69382
[15]	validation_0-auc:0.69590
[16]	validation_0-auc:0.69699
[17]	validation_0-auc:0.69884
[18]	validation_0-auc:0.70010
[19]	validation_0-auc:0.70135
[20]	validation_0-auc:0.70226
[21]	validation_0-auc:0.70282
[22]	validation_0-auc:0.70354
[23]	validation_0-auc:0.70410
[24]	validation_0-auc:0.70452
[25]	validation_0-auc:0.70532
[26]	validation_0-auc:0.70607
[27]	validation_0-auc:0.70681
[28]	validation_0-auc:0.70757
[29]	validation_0-auc:0.70813
[30]	validation_0-auc:0.70861
[31]	validation_0-auc:0.70963
[32]	validation_0-auc:0.71000
[33]	validation_0-auc:0.71057
[34]	validation_0-auc:0.71118
[35]	validation_0-auc:0.71149
[36]	validation_0-auc:0.71212
[37]	validation_0-auc:0.71231
[38]	validation_0-auc:0.71241
[39]	validation_0-auc:0.71345
[40]	validation_0-auc:0.71350
[41]	validation_0-auc:0.71412
[42]	validation_0-auc:0.71460
[43]	validation_0-auc:0.71488
[44]	validation_0-auc:0.71476
[45]	validation_0-auc:0.71518
[46]	validation_0-auc:0.71533
[47]	validation_0-auc:0.71549
[48]	validation_0-auc:0.71597
[49]	validation_0-auc:0.71648
[50]	validation_0-auc:0.71679
[51]	validation_0-auc:0.71732
[52]	validation_0-auc:0.71720
[53]	validation_0-auc:0.71727
Stopping. Best iteration:
[51]	validation_0-auc:0.71732

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints=None,
       learning_rate=0.16, max_delta_step=0, max_depth=50,
       min_child_weight=1, missing=nan, monotone_constraints=None,
       n_estimators=200, n_jobs=0, num_parallel_tree=1,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
       validate_parameters=False, verbosity=1)

#### 6.評估模型表現

In [12]:
auc(model, X_train, X_test)

(1.0, 0.7173158083296013)

In [16]:
model.predict(X_test[:100])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

#### 7.調整參數（重複5,6）

## LightGBM

#### 4.定義模型

In [23]:
import lightgbm as lgb
from sklearn import metrics

model = lgb.LGBMClassifier(silent=False,max_depth=50,n_estimators=300,num_leaves=900,learning_rate=0.1)

#### 5.訓練模型

In [24]:
model.fit(X_train,y_train, eval_metric='auc',eval_set=eval_set,
          categorical_feature = 'auto',early_stopping_rounds=2)

[1]	valid_0's auc: 0.649466	valid_0's binary_logloss: 0.516854
Training until validation scores don't improve for 2 rounds
[2]	valid_0's auc: 0.662754	valid_0's binary_logloss: 0.510482
[3]	valid_0's auc: 0.668986	valid_0's binary_logloss: 0.505514
[4]	valid_0's auc: 0.676477	valid_0's binary_logloss: 0.500946
[5]	valid_0's auc: 0.682268	valid_0's binary_logloss: 0.496916
[6]	valid_0's auc: 0.687497	valid_0's binary_logloss: 0.493426
[7]	valid_0's auc: 0.690124	valid_0's binary_logloss: 0.490761
[8]	valid_0's auc: 0.691	valid_0's binary_logloss: 0.488933
[9]	valid_0's auc: 0.694617	valid_0's binary_logloss: 0.486524
[10]	valid_0's auc: 0.696161	valid_0's binary_logloss: 0.484875
[11]	valid_0's auc: 0.69816	valid_0's binary_logloss: 0.483084
[12]	valid_0's auc: 0.699375	valid_0's binary_logloss: 0.481686
[13]	valid_0's auc: 0.701199	valid_0's binary_logloss: 0.480332
[14]	valid_0's auc: 0.702114	valid_0's binary_logloss: 0.47924
[15]	valid_0's auc: 0.704176	valid_0's binary_logloss: 0.477925
[16]	valid_0's auc: 0.704755	valid_0's binary_logloss: 0.477292
[17]	valid_0's auc: 0.705563	valid_0's binary_logloss: 0.476537
[18]	valid_0's auc: 0.705864	valid_0's binary_logloss: 0.476015
[19]	valid_0's auc: 0.706674	valid_0's binary_logloss: 0.475423
[20]	valid_0's auc: 0.707085	valid_0's binary_logloss: 0.474978
[21]	valid_0's auc: 0.707694	valid_0's binary_logloss: 0.474527
[22]	valid_0's auc: 0.708704	valid_0's binary_logloss: 0.473788
[23]	valid_0's auc: 0.709717	valid_0's binary_logloss: 0.473199
[24]	valid_0's auc: 0.710524	valid_0's binary_logloss: 0.472539
[25]	valid_0's auc: 0.711137	valid_0's binary_logloss: 0.472087
[26]	valid_0's auc: 0.711476	valid_0's binary_logloss: 0.471825
[27]	valid_0's auc: 0.711979	valid_0's binary_logloss: 0.47151
[28]	valid_0's auc: 0.712095	valid_0's binary_logloss: 0.471402
[29]	valid_0's auc: 0.713088	valid_0's binary_logloss: 0.470823
[30]	valid_0's auc: 0.714168	valid_0's binary_logloss: 0.470252
[31]	valid_0's auc: 0.714676	valid_0's binary_logloss: 0.470003
[32]	valid_0's auc: 0.714531	valid_0's binary_logloss: 0.470068
[33]	valid_0's auc: 0.714043	valid_0's binary_logloss: 0.47031
Early stopping, best iteration is:
[31]	valid_0's auc: 0.714676	valid_0's binary_logloss: 0.470003

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        importance_type='split', learning_rate=0.1, max_depth=50,
        min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
        n_estimators=300, n_jobs=-1, num_leaves=900, objective=None,
        random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=False,
        subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

#### 6.評估模型表現

In [25]:
auc(model, X_train, X_test)

(0.956441350361449, 0.7146763063143753)

#### 7.調整參數（重複5,6）

## Catboost

#### 4.定義模型

In [26]:
data.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,DESTINATION_AIRPORT,ORIGIN_AIRPORT,AIR_TIME,DEPARTURE_TIME,DISTANCE,ARRIVAL_DELAY
167584,6,25,4,4,2110,298,346,142.0,846.0,1184,1
560454,11,21,6,13,1913,452,551,60.0,2103.0,414,0
218029,5,21,4,1,1218,364,383,173.0,556.0,1313,0
156358,5,12,2,14,732,555,468,244.0,1448.0,1733,0
408552,2,20,5,14,4822,327,387,155.0,1504.0,1165,0

In [27]:
import catboost as cb
cat_features_index = [0,1,2,3,4,5,6]


#With Categorical features
clf = cb.CatBoostClassifier(eval_metric="AUC",one_hot_max_size=31, \
                            depth=10, iterations= 500, l2_leaf_reg= 9, learning_rate= 0.15)

#### 5.訓練模型

In [28]:
clf.fit(X_train,y_train, cat_features= cat_features_index,eval_set=eval_set,early_stopping_rounds=2)

0:	test: 0.6297311	best: 0.6297311 (0)	total: 360ms	remaining: 2m 59s
1:	test: 0.6435833	best: 0.6435833 (1)	total: 661ms	remaining: 2m 44s
2:	test: 0.6464603	best: 0.6464603 (2)	total: 1.14s	remaining: 3m 8s
3:	test: 0.6468310	best: 0.6468310 (3)	total: 1.34s	remaining: 2m 46s
4:	test: 0.6508252	best: 0.6508252 (4)	total: 2.02s	remaining: 3m 20s
5:	test: 0.6529403	best: 0.6529403 (5)	total: 2.6s	remaining: 3m 34s
6:	test: 0.6572084	best: 0.6572084 (6)	total: 2.96s	remaining: 3m 28s
7:	test: 0.6624582	best: 0.6624582 (7)	total: 3.37s	remaining: 3m 27s
8:	test: 0.6652365	best: 0.6652365 (8)	total: 3.84s	remaining: 3m 29s
9:	test: 0.6674497	best: 0.6674497 (9)	total: 4.27s	remaining: 3m 29s
10:	test: 0.6684949	best: 0.6684949 (10)	total: 4.59s	remaining: 3m 24s
11:	test: 0.6712439	best: 0.6712439 (11)	total: 5.2s	remaining: 3m 31s
12:	test: 0.6721717	best: 0.6721717 (12)	total: 5.93s	remaining: 3m 42s
13:	test: 0.6744488	best: 0.6744488 (13)	total: 6.44s	remaining: 3m 43s
14:	test: 0.6766083	best: 0.6766083 (14)	total: 7.08s	remaining: 3m 48s
15:	test: 0.6771131	best: 0.6771131 (15)	total: 7.71s	remaining: 3m 53s
16:	test: 0.6778712	best: 0.6778712 (16)	total: 8.19s	remaining: 3m 52s
17:	test: 0.6797504	best: 0.6797504 (17)	total: 8.78s	remaining: 3m 55s
18:	test: 0.6801745	best: 0.6801745 (18)	total: 9.19s	remaining: 3m 52s
19:	test: 0.6814524	best: 0.6814524 (19)	total: 9.67s	remaining: 3m 52s
20:	test: 0.6816734	best: 0.6816734 (20)	total: 10.1s	remaining: 3m 50s
21:	test: 0.6836071	best: 0.6836071 (21)	total: 10.7s	remaining: 3m 52s
22:	test: 0.6842685	best: 0.6842685 (22)	total: 11.4s	remaining: 3m 55s
23:	test: 0.6855465	best: 0.6855465 (23)	total: 11.9s	remaining: 3m 55s
24:	test: 0.6870863	best: 0.6870863 (24)	total: 12.2s	remaining: 3m 51s
25:	test: 0.6886858	best: 0.6886858 (25)	total: 12.5s	remaining: 3m 48s
26:	test: 0.6885171	best: 0.6886858 (25)	total: 13.1s	remaining: 3m 50s
27:	test: 0.6893934	best: 0.6893934 (27)	total: 13.5s	remaining: 3m 48s
28:	test: 0.6904661	best: 0.6904661 (28)	total: 14s	remaining: 3m 47s
29:	test: 0.6912567	best: 0.6912567 (29)	total: 14.4s	remaining: 3m 46s
30:	test: 0.6918193	best: 0.6918193 (30)	total: 14.8s	remaining: 3m 43s
31:	test: 0.6919932	best: 0.6919932 (31)	total: 15.2s	remaining: 3m 41s
32:	test: 0.6929034	best: 0.6929034 (32)	total: 15.5s	remaining: 3m 39s
33:	test: 0.6935087	best: 0.6935087 (33)	total: 15.9s	remaining: 3m 37s
34:	test: 0.6941703	best: 0.6941703 (34)	total: 16.3s	remaining: 3m 35s
35:	test: 0.6950374	best: 0.6950374 (35)	total: 16.6s	remaining: 3m 34s
36:	test: 0.6958998	best: 0.6958998 (36)	total: 16.9s	remaining: 3m 31s
37:	test: 0.6968657	best: 0.6968657 (37)	total: 17.2s	remaining: 3m 28s
38:	test: 0.6970223	best: 0.6970223 (38)	total: 17.3s	remaining: 3m 24s
39:	test: 0.6977438	best: 0.6977438 (39)	total: 17.7s	remaining: 3m 23s
40:	test: 0.6978553	best: 0.6978553 (40)	total: 18s	remaining: 3m 21s
41:	test: 0.6982211	best: 0.6982211 (41)	total: 18.7s	remaining: 3m 24s
42:	test: 0.6981087	best: 0.6982211 (41)	total: 19.1s	remaining: 3m 22s
43:	test: 0.6989060	best: 0.6989060 (43)	total: 19.6s	remaining: 3m 22s
44:	test: 0.6990137	best: 0.6990137 (44)	total: 20s	remaining: 3m 22s
45:	test: 0.6996728	best: 0.6996728 (45)	total: 20.7s	remaining: 3m 24s
46:	test: 0.7001931	best: 0.7001931 (46)	total: 21.1s	remaining: 3m 23s
47:	test: 0.7002727	best: 0.7002727 (47)	total: 21.5s	remaining: 3m 22s
48:	test: 0.7006353	best: 0.7006353 (48)	total: 21.9s	remaining: 3m 21s
49:	test: 0.7012594	best: 0.7012594 (49)	total: 22.2s	remaining: 3m 20s
50:	test: 0.7020717	best: 0.7020717 (50)	total: 22.7s	remaining: 3m 19s
51:	test: 0.7025215	best: 0.7025215 (51)	total: 23.1s	remaining: 3m 18s
52:	test: 0.7031584	best: 0.7031584 (52)	total: 23.4s	remaining: 3m 17s
53:	test: 0.7037064	best: 0.7037064 (53)	total: 23.7s	remaining: 3m 15s
54:	test: 0.7042855	best: 0.7042855 (54)	total: 24.1s	remaining: 3m 14s
55:	test: 0.7043633	best: 0.7043633 (55)	total: 24.5s	remaining: 3m 14s
56:	test: 0.7046108	best: 0.7046108 (56)	total: 24.9s	remaining: 3m 13s
57:	test: 0.7049487	best: 0.7049487 (57)	total: 25.3s	remaining: 3m 13s
58:	test: 0.7050038	best: 0.7050038 (58)	total: 25.8s	remaining: 3m 12s
59:	test: 0.7051434	best: 0.7051434 (59)	total: 26.3s	remaining: 3m 12s
60:	test: 0.7051939	best: 0.7051939 (60)	total: 26.6s	remaining: 3m 11s
61:	test: 0.7056605	best: 0.7056605 (61)	total: 26.9s	remaining: 3m 10s
62:	test: 0.7057386	best: 0.7057386 (62)	total: 27.2s	remaining: 3m 8s
63:	test: 0.7058667	best: 0.7058667 (63)	total: 27.5s	remaining: 3m 7s
64:	test: 0.7061275	best: 0.7061275 (64)	total: 28s	remaining: 3m 7s
65:	test: 0.7062931	best: 0.7062931 (65)	total: 28.3s	remaining: 3m 6s
66:	test: 0.7070614	best: 0.7070614 (66)	total: 28.6s	remaining: 3m 4s
67:	test: 0.7077039	best: 0.7077039 (67)	total: 28.9s	remaining: 3m 3s
68:	test: 0.7078561	best: 0.7078561 (68)	total: 29.4s	remaining: 3m 3s
69:	test: 0.7082118	best: 0.7082118 (69)	total: 29.9s	remaining: 3m 3s
70:	test: 0.7081918	best: 0.7082118 (69)	total: 30.3s	remaining: 3m 2s
71:	test: 0.7081095	best: 0.7082118 (69)	total: 30.6s	remaining: 3m 2s
Stopped by overfitting detector  (2 iterations wait)

bestTest = 0.7082117833
bestIteration = 69

Shrink model to first 70 iterations.

#### 6.評估模型表現

In [29]:
auc(clf, X_train, X_test)

(0.7547017963865237, 0.7082117832512316)

# 無作業