## kaggle鐵達尼號專題（專題1）
    
### 評分標準：Kaggle分數再開根號乘以十（四捨五入）
e.x. Kaggle正確率76 >> 最終分數87

注意事項
<li>需上傳ipynb檔以及kaggle的分數截圖</li>
<li>若正確率100%將不計分</li>
<li>不得使用別人寫好的程式碼</li>

#### 第0步：下載資料 (https://www.kaggle.com/c/titanic)

In [1]:
import pandas as pd
df = pd.read_csv('train.csv')
train_df = df.drop(['Survived'],axis=1)
#target = df.Survived.to_numpy()
train_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### 第1步：資料處理、模型製作、訓練

In [2]:
train_df = df.drop(['Name'],axis=1)
train_df = train_df.drop(['Cabin'],axis=1)
train_df = train_df.drop(['Ticket'],axis=1)
train_df = train_df.drop(['PassengerId'],axis=1)
target = train_df.Survived.to_numpy()
train_df = train_df.drop(['Survived'],axis=1)
train_df = train_df.fillna(0)
train_df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [3]:
train_df['Sex'] = train_df['Sex'].astype('category').cat.codes
train_df['Embarked'] = train_df['Embarked'].astype('category').cat.codes
train_df.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         3
1       1    0  38.0      1      0  71.2833         1
2       3    0  26.0      0      0   7.9250         3
3       1    0  35.0      1      0  53.1000         3
4       3    1  35.0      0      0   8.0500         3

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
for x in train_df.columns:
    train_df[x]=scaler.fit_transform(train_df[x].to_frame())
train_df.head()

   Pclass  Sex     Age  SibSp  Parch      Fare  Embarked
0     1.0  1.0  0.2750  0.125    0.0  0.014151  1.000000
1     0.0  0.0  0.4750  0.125    0.0  0.139136  0.333333
2     1.0  0.0  0.3250  0.000    0.0  0.015469  1.000000
3     0.0  0.0  0.4375  0.125    0.0  0.103644  1.000000
4     1.0  1.0  0.4375  0.000    0.0  0.015713  1.000000

In [5]:
train_df.to_csv('test1.csv',index=False)

In [6]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_df, target, test_size=0.25,random_state=1)

In [7]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier
model_dt = DecisionTreeClassifier(random_state=1,criterion='entropy')
model_dt.fit(X_train, y_train)
model_dt.score(X_test, y_test)

0.7757847533632287

In [8]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier(random_state=1,criterion='entropy',max_depth=2)
model_rf.fit(X_train, y_train)
model_rf.score(X_test, y_test)

0.757847533632287

In [9]:
#Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier
model_gb = GradientBoostingClassifier(random_state=1)
model_gb.fit(X_train, y_train)
model_gb.score(X_test, y_test)

0.7847533632286996

In [10]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
model_lr = LogisticRegression(random_state=1)
model_lr.fit(X_train, y_train)
model_lr.score(X_test, y_test)

0.7892376681614349

In [11]:
#Support Vector Machine
from sklearn.svm import SVC
model_svc = SVC(random_state=1)
model_svc.fit(X_train, y_train)
model_svc.score(X_test, y_test)

0.7802690582959642

In [12]:
#Extreme Gradient Boosting
import xgboost as xgb
from sklearn import metrics

def auc(m, train, test): 
    return (metrics.roc_auc_score(y_train,m.predict_proba(train)[:,1]),
                            metrics.roc_auc_score(y_test,m.predict_proba(test)[:,1]))
model_xgb = xgb.XGBClassifier(max_depth=50, min_child_weight=1, n_estimators=200,verbosity=1,learning_rate=0.16)

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
eval_set = [(X_test, y_test)]
model_xgb.fit(X_train, y_train, eval_metric="auc", eval_set=eval_set, verbose=True,early_stopping_rounds=2)

In [ ]:
auc(model_xgb, X_train, X_test)

In [205]:
#Light Gradient Boosting Machine
import lightgbm as lgb

model_lgb = lgb.LGBMClassifier(silent=False,max_depth=50,n_estimators=300,num_leaves=900,learning_rate=0.1)

In [206]:
model_lgb.fit(X_train,y_train, eval_metric='auc',eval_set=eval_set,
          categorical_feature = 'auto',early_stopping_rounds=2)

[LightGBM] [Info] Number of positive: 247, number of negative: 421
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000984 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 197
[LightGBM] [Info] Number of data points in the train set: 668, number of used features: 7
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.369760 -> initscore=-0.533244
[LightGBM] [Info] Start training from score -0.533244
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[1]	valid_0's auc: 0.840173	valid_0's binary_logloss: 0.645977
Training until validation scores don't improve for 2 rounds
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[2]	valid_0's auc: 0.846505	valid_0's binary_logloss: 0.613074
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[3]	valid_0's auc: 0.847574	valid_0's binary_logloss: 0.585142
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[4]	valid_0's auc: 0.846176	valid_0's binary_logloss: 0.564711
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[5]	valid_0's auc: 0.845148	valid_0's binary_logloss: 0.546638
Early stopping, best iteration is:
[3]	valid_0's auc: 0.847574	valid_0's binary_logloss: 0.585142

LGBMClassifier(max_depth=50, n_estimators=300, num_leaves=900, silent=False)

In [207]:
auc(model_lgb, X_train, X_test)

(0.9072480213872888, 0.8475740131578948)

In [15]:
#Categorical Boosting
import catboost as cb
cat_features_index = ["Pclass","Sex","Embarked"]

model_cb = cb.CatBoostClassifier(eval_metric="AUC",one_hot_max_size=31, \
                            depth=10, iterations= 500, l2_leaf_reg= 9, learning_rate= 0.15)

In [17]:
eval_set = [(X_test, y_test)]
model_cb.fit(X_train,y_train,eval_set=eval_set,early_stopping_rounds=2)

0:	test: 0.8144326	best: 0.8144326 (0)	total: 55.3ms	remaining: 27.6s
1:	test: 0.8321957	best: 0.8321957 (1)	total: 56.4ms	remaining: 14s
2:	test: 0.8332237	best: 0.8332237 (2)	total: 57.8ms	remaining: 9.57s
3:	test: 0.8327303	best: 0.8332237 (2)	total: 58.3ms	remaining: 7.23s
4:	test: 0.8306332	best: 0.8332237 (2)	total: 59.9ms	remaining: 5.93s
Stopped by overfitting detector  (2 iterations wait)

bestTest = 0.8332236842
bestIteration = 2

Shrink model to first 3 iterations.

In [59]:
train_cb = train_df
for x in ['Age','SibSp','Parch','Fare']:
    train_cb[x]=scaler.fit_transform(train_cb[x].to_frame())
# for x in ['Pclass','Sex','Embarked']:
#     train_cb[x] = train_cb[x].astype(int)
train_cb.head()

  Pclass  Sex     Age  SibSp  Parch      Fare            Embarked
0    1.0  1.0  0.2750  0.125    0.0  0.014151                 1.0
1    0.0  0.0  0.4750  0.125    0.0  0.139136  0.3333333333333333
2    1.0  0.0  0.3250  0.000    0.0  0.015469                 1.0
3    0.0  0.0  0.4375  0.125    0.0  0.103644                 1.0
4    1.0  1.0  0.4375  0.000    0.0  0.015713                 1.0

In [60]:
Pclassl = []
Sexl = []
Embarkedl = []
for x in train_cb['Pclass']:
    Pclassl.append(str(int(float(x))))
for x in train_cb['Sex']:
    Sexl.append(str(int(float(x))))
for x in train_cb['Embarked']:
    Embarkedl.append(str(int(float(x))))
train_cb['Pclass']=Pclassl
train_cb['Sex']=Sexl
train_cb['Embarked']=Embarkedl
train_cb

    Pclass Sex     Age  SibSp     Parch      Fare Embarked
0        1   1  0.2750  0.125  0.000000  0.014151        1
1        0   0  0.4750  0.125  0.000000  0.139136        0
2        1   0  0.3250  0.000  0.000000  0.015469        1
3        0   0  0.4375  0.125  0.000000  0.103644        1
4        1   1  0.4375  0.000  0.000000  0.015713        1
..     ...  ..     ...    ...       ...       ...      ...
886      0   1  0.3375  0.000  0.000000  0.025374        1
887      0   0  0.2375  0.000  0.000000  0.058556        1
888      1   0  0.0000  0.125  0.333333  0.045771        1
889      0   1  0.3250  0.000  0.000000  0.058556        0
890      1   1  0.4000  0.000  0.000000  0.015127        0

[891 rows x 7 columns]

In [61]:
X_traincb, X_testcb, y_traincb, y_testcb = train_test_split(train_cb, target, test_size=0.25,random_state=1)

In [63]:
X_traincb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 35 to 37
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    668 non-null    object
 1   Sex       668 non-null    object
 2   Age       668 non-null    float64
 3   SibSp     668 non-null    float64
 4   Parch     668 non-null    float64
 5   Fare      668 non-null    float64
 6   Embarked  668 non-null    object
dtypes: float64(4), object(3)
memory usage: 41.8+ KB

In [71]:
model_cb.fit(X_traincb,y_traincb, cat_features=[0,1,6],early_stopping_rounds=2)

0:	total: 916us	remaining: 458ms
1:	total: 1.89ms	remaining: 470ms
2:	total: 3.11ms	remaining: 516ms
3:	total: 3.82ms	remaining: 474ms
4:	total: 8.78ms	remaining: 869ms
5:	total: 9.06ms	remaining: 746ms
6:	total: 9.42ms	remaining: 663ms
7:	total: 14.9ms	remaining: 916ms
8:	total: 18.8ms	remaining: 1.02s
9:	total: 20.1ms	remaining: 983ms
10:	total: 24.3ms	remaining: 1.08s
11:	total: 25ms	remaining: 1.02s
12:	total: 26.3ms	remaining: 985ms
13:	total: 27.5ms	remaining: 953ms
14:	total: 31.8ms	remaining: 1.03s
15:	total: 35.5ms	remaining: 1.07s
16:	total: 39.6ms	remaining: 1.13s
17:	total: 44.1ms	remaining: 1.18s
18:	total: 47.9ms	remaining: 1.21s
19:	total: 51.5ms	remaining: 1.24s
20:	total: 53.8ms	remaining: 1.23s
21:	total: 58.7ms	remaining: 1.27s
22:	total: 62.5ms	remaining: 1.3s
23:	total: 66.1ms	remaining: 1.31s
24:	total: 67.6ms	remaining: 1.28s
25:	total: 70.8ms	remaining: 1.29s
26:	total: 75.5ms	remaining: 1.32s
27:	total: 79.1ms	remaining: 1.33s
28:	total: 79.9ms	remaining: 1.3s
29:	total: 83.7ms	remaining: 1.31s
30:	total: 87.8ms	remaining: 1.33s
31:	total: 93.3ms	remaining: 1.36s
32:	total: 96.6ms	remaining: 1.37s
33:	total: 98.1ms	remaining: 1.34s
34:	total: 101ms	remaining: 1.35s
35:	total: 106ms	remaining: 1.37s
36:	total: 108ms	remaining: 1.35s
37:	total: 111ms	remaining: 1.35s
38:	total: 114ms	remaining: 1.35s
39:	total: 116ms	remaining: 1.34s
40:	total: 117ms	remaining: 1.31s
41:	total: 122ms	remaining: 1.32s
42:	total: 125ms	remaining: 1.33s
43:	total: 128ms	remaining: 1.33s
44:	total: 132ms	remaining: 1.33s
45:	total: 135ms	remaining: 1.33s
46:	total: 136ms	remaining: 1.31s
47:	total: 140ms	remaining: 1.32s
48:	total: 143ms	remaining: 1.32s
49:	total: 147ms	remaining: 1.32s
50:	total: 147ms	remaining: 1.29s
51:	total: 148ms	remaining: 1.27s
52:	total: 151ms	remaining: 1.27s
53:	total: 152ms	remaining: 1.25s
54:	total: 155ms	remaining: 1.25s
55:	total: 156ms	remaining: 1.23s
56:	total: 157ms	remaining: 1.22s
57:	total: 160ms	remaining: 1.22s
58:	total: 163ms	remaining: 1.22s
59:	total: 166ms	remaining: 1.22s
60:	total: 171ms	remaining: 1.23s
61:	total: 174ms	remaining: 1.23s
62:	total: 175ms	remaining: 1.21s
63:	total: 178ms	remaining: 1.21s
64:	total: 182ms	remaining: 1.22s
65:	total: 187ms	remaining: 1.23s
66:	total: 190ms	remaining: 1.23s
67:	total: 194ms	remaining: 1.23s
68:	total: 200ms	remaining: 1.25s
69:	total: 206ms	remaining: 1.27s
70:	total: 210ms	remaining: 1.27s
71:	total: 215ms	remaining: 1.28s
72:	total: 221ms	remaining: 1.29s
73:	total: 227ms	remaining: 1.3s
74:	total: 231ms	remaining: 1.31s
75:	total: 236ms	remaining: 1.32s
76:	total: 241ms	remaining: 1.33s
77:	total: 248ms	remaining: 1.34s
78:	total: 252ms	remaining: 1.34s
79:	total: 255ms	remaining: 1.34s
80:	total: 259ms	remaining: 1.34s
81:	total: 264ms	remaining: 1.34s
82:	total: 268ms	remaining: 1.34s
83:	total: 271ms	remaining: 1.34s
84:	total: 275ms	remaining: 1.34s
85:	total: 280ms	remaining: 1.35s
86:	total: 284ms	remaining: 1.35s
87:	total: 287ms	remaining: 1.34s
88:	total: 291ms	remaining: 1.34s
89:	total: 296ms	remaining: 1.35s
90:	total: 300ms	remaining: 1.35s
91:	total: 300ms	remaining: 1.33s
92:	total: 304ms	remaining: 1.33s
93:	total: 307ms	remaining: 1.33s
94:	total: 312ms	remaining: 1.33s
95:	total: 314ms	remaining: 1.32s
96:	total: 318ms	remaining: 1.32s
97:	total: 321ms	remaining: 1.32s
98:	total: 326ms	remaining: 1.32s
99:	total: 329ms	remaining: 1.32s
100:	total: 331ms	remaining: 1.31s
101:	total: 334ms	remaining: 1.3s
102:	total: 337ms	remaining: 1.3s
103:	total: 342ms	remaining: 1.3s
104:	total: 344ms	remaining: 1.29s
105:	total: 348ms	remaining: 1.29s
106:	total: 351ms	remaining: 1.29s
107:	total: 354ms	remaining: 1.28s
108:	total: 359ms	remaining: 1.29s
109:	total: 362ms	remaining: 1.28s
110:	total: 365ms	remaining: 1.28s
111:	total: 367ms	remaining: 1.27s
112:	total: 371ms	remaining: 1.27s
113:	total: 375ms	remaining: 1.27s
114:	total: 378ms	remaining: 1.27s
115:	total: 383ms	remaining: 1.27s
116:	total: 391ms	remaining: 1.28s
117:	total: 400ms	remaining: 1.29s
118:	total: 410ms	remaining: 1.31s
119:	total: 418ms	remaining: 1.32s
120:	total: 429ms	remaining: 1.34s
121:	total: 444ms	remaining: 1.38s
122:	total: 453ms	remaining: 1.39s
123:	total: 459ms	remaining: 1.39s
124:	total: 463ms	remaining: 1.39s
125:	total: 467ms	remaining: 1.39s
126:	total: 473ms	remaining: 1.39s
127:	total: 477ms	remaining: 1.39s
128:	total: 481ms	remaining: 1.38s
129:	total: 488ms	remaining: 1.39s
130:	total: 492ms	remaining: 1.38s
131:	total: 496ms	remaining: 1.38s
132:	total: 501ms	remaining: 1.38s
133:	total: 506ms	remaining: 1.38s
134:	total: 510ms	remaining: 1.38s
135:	total: 514ms	remaining: 1.38s
136:	total: 519ms	remaining: 1.37s
137:	total: 522ms	remaining: 1.37s
138:	total: 527ms	remaining: 1.37s
139:	total: 532ms	remaining: 1.37s
140:	total: 536ms	remaining: 1.36s
141:	total: 541ms	remaining: 1.36s
142:	total: 543ms	remaining: 1.36s
143:	total: 548ms	remaining: 1.35s
144:	total: 553ms	remaining: 1.35s
145:	total: 557ms	remaining: 1.35s
146:	total: 564ms	remaining: 1.35s
147:	total: 569ms	remaining: 1.35s
148:	total: 574ms	remaining: 1.35s
149:	total: 586ms	remaining: 1.37s
150:	total: 590ms	remaining: 1.36s
151:	total: 598ms	remaining: 1.37s
152:	total: 618ms	remaining: 1.4s
153:	total: 627ms	remaining: 1.41s
154:	total: 632ms	remaining: 1.41s
155:	total: 641ms	remaining: 1.41s
156:	total: 648ms	remaining: 1.42s
157:	total: 652ms	remaining: 1.41s
158:	total: 660ms	remaining: 1.42s
159:	total: 666ms	remaining: 1.41s
160:	total: 670ms	remaining: 1.41s
161:	total: 677ms	remaining: 1.41s
162:	total: 681ms	remaining: 1.41s
163:	total: 685ms	remaining: 1.4s
164:	total: 693ms	remaining: 1.41s
165:	total: 698ms	remaining: 1.41s
166:	total: 706ms	remaining: 1.41s
167:	total: 712ms	remaining: 1.41s
168:	total: 716ms	remaining: 1.4s
169:	total: 723ms	remaining: 1.4s
170:	total: 728ms	remaining: 1.4s
171:	total: 731ms	remaining: 1.39s
172:	total: 736ms	remaining: 1.39s
173:	total: 737ms	remaining: 1.38s
174:	total: 740ms	remaining: 1.37s
175:	total: 743ms	remaining: 1.37s
176:	total: 747ms	remaining: 1.36s
177:	total: 750ms	remaining: 1.36s
178:	total: 754ms	remaining: 1.35s
179:	total: 760ms	remaining: 1.35s
180:	total: 763ms	remaining: 1.34s
181:	total: 769ms	remaining: 1.34s
182:	total: 774ms	remaining: 1.34s
183:	total: 778ms	remaining: 1.33s
184:	total: 782ms	remaining: 1.33s
185:	total: 789ms	remaining: 1.33s
186:	total: 793ms	remaining: 1.33s
187:	total: 805ms	remaining: 1.34s
188:	total: 809ms	remaining: 1.33s
189:	total: 814ms	remaining: 1.33s
190:	total: 818ms	remaining: 1.32s
191:	total: 828ms	remaining: 1.33s
192:	total: 829ms	remaining: 1.32s
193:	total: 833ms	remaining: 1.31s
194:	total: 837ms	remaining: 1.31s
195:	total: 838ms	remaining: 1.3s
196:	total: 841ms	remaining: 1.29s
197:	total: 845ms	remaining: 1.29s
198:	total: 849ms	remaining: 1.28s
199:	total: 852ms	remaining: 1.28s
200:	total: 856ms	remaining: 1.27s
201:	total: 859ms	remaining: 1.27s
202:	total: 863ms	remaining: 1.26s
203:	total: 866ms	remaining: 1.26s
204:	total: 875ms	remaining: 1.26s
205:	total: 883ms	remaining: 1.26s
206:	total: 887ms	remaining: 1.26s
207:	total: 892ms	remaining: 1.25s
208:	total: 896ms	remaining: 1.25s
209:	total: 899ms	remaining: 1.24s
210:	total: 903ms	remaining: 1.24s
211:	total: 907ms	remaining: 1.23s
212:	total: 911ms	remaining: 1.23s
213:	total: 915ms	remaining: 1.22s
214:	total: 918ms	remaining: 1.22s
215:	total: 921ms	remaining: 1.21s
216:	total: 925ms	remaining: 1.21s
217:	total: 928ms	remaining: 1.2s
218:	total: 931ms	remaining: 1.19s
219:	total: 934ms	remaining: 1.19s
220:	total: 938ms	remaining: 1.18s
221:	total: 941ms	remaining: 1.18s
222:	total: 944ms	remaining: 1.17s
223:	total: 947ms	remaining: 1.17s
224:	total: 951ms	remaining: 1.16s
225:	total: 954ms	remaining: 1.16s
226:	total: 958ms	remaining: 1.15s
227:	total: 962ms	remaining: 1.15s
228:	total: 979ms	remaining: 1.16s
229:	total: 986ms	remaining: 1.16s
230:	total: 993ms	remaining: 1.16s
231:	total: 1s	remaining: 1.16s
232:	total: 1.01s	remaining: 1.15s
233:	total: 1.01s	remaining: 1.15s
234:	total: 1.01s	remaining: 1.15s
235:	total: 1.02s	remaining: 1.14s
236:	total: 1.03s	remaining: 1.14s
237:	total: 1.03s	remaining: 1.14s
238:	total: 1.03s	remaining: 1.13s
239:	total: 1.04s	remaining: 1.13s
240:	total: 1.04s	remaining: 1.12s
241:	total: 1.05s	remaining: 1.11s
242:	total: 1.05s	remaining: 1.11s
243:	total: 1.05s	remaining: 1.1s
244:	total: 1.06s	remaining: 1.1s
245:	total: 1.06s	remaining: 1.09s
246:	total: 1.06s	remaining: 1.09s
247:	total: 1.07s	remaining: 1.08s
248:	total: 1.07s	remaining: 1.08s
249:	total: 1.07s	remaining: 1.07s
250:	total: 1.08s	remaining: 1.07s
251:	total: 1.08s	remaining: 1.06s
252:	total: 1.08s	remaining: 1.06s
253:	total: 1.09s	remaining: 1.05s
254:	total: 1.09s	remaining: 1.05s
255:	total: 1.09s	remaining: 1.04s
256:	total: 1.09s	remaining: 1.04s
257:	total: 1.1s	remaining: 1.03s
258:	total: 1.1s	remaining: 1.03s
259:	total: 1.11s	remaining: 1.02s
260:	total: 1.11s	remaining: 1.02s
261:	total: 1.11s	remaining: 1.01s
262:	total: 1.11s	remaining: 1s
263:	total: 1.12s	remaining: 1000ms
264:	total: 1.12s	remaining: 995ms
265:	total: 1.13s	remaining: 990ms
266:	total: 1.13s	remaining: 985ms
267:	total: 1.13s	remaining: 978ms
268:	total: 1.13s	remaining: 973ms
269:	total: 1.14s	remaining: 968ms
270:	total: 1.14s	remaining: 963ms
271:	total: 1.14s	remaining: 958ms
272:	total: 1.15s	remaining: 954ms
273:	total: 1.15s	remaining: 949ms
274:	total: 1.15s	remaining: 945ms
275:	total: 1.16s	remaining: 940ms
276:	total: 1.16s	remaining: 936ms
277:	total: 1.17s	remaining: 932ms
278:	total: 1.17s	remaining: 928ms
279:	total: 1.18s	remaining: 924ms
280:	total: 1.18s	remaining: 919ms
281:	total: 1.18s	remaining: 915ms
282:	total: 1.19s	remaining: 911ms
283:	total: 1.19s	remaining: 908ms
284:	total: 1.2s	remaining: 903ms
285:	total: 1.2s	remaining: 899ms
286:	total: 1.2s	remaining: 894ms
287:	total: 1.21s	remaining: 889ms
288:	total: 1.21s	remaining: 885ms
289:	total: 1.21s	remaining: 880ms
290:	total: 1.22s	remaining: 875ms
291:	total: 1.22s	remaining: 870ms
292:	total: 1.22s	remaining: 865ms
293:	total: 1.23s	remaining: 860ms
294:	total: 1.23s	remaining: 855ms
295:	total: 1.23s	remaining: 851ms
296:	total: 1.24s	remaining: 846ms
297:	total: 1.24s	remaining: 841ms
298:	total: 1.24s	remaining: 836ms
299:	total: 1.25s	remaining: 831ms
300:	total: 1.25s	remaining: 826ms
301:	total: 1.25s	remaining: 822ms
302:	total: 1.26s	remaining: 817ms
303:	total: 1.26s	remaining: 813ms
304:	total: 1.26s	remaining: 809ms
305:	total: 1.27s	remaining: 805ms
306:	total: 1.27s	remaining: 801ms
307:	total: 1.28s	remaining: 796ms
308:	total: 1.28s	remaining: 792ms
309:	total: 1.28s	remaining: 787ms
310:	total: 1.29s	remaining: 782ms
311:	total: 1.29s	remaining: 777ms
312:	total: 1.29s	remaining: 773ms
313:	total: 1.29s	remaining: 766ms
314:	total: 1.3s	remaining: 762ms
315:	total: 1.3s	remaining: 757ms
316:	total: 1.3s	remaining: 752ms
317:	total: 1.31s	remaining: 748ms
318:	total: 1.31s	remaining: 744ms
319:	total: 1.31s	remaining: 739ms
320:	total: 1.32s	remaining: 734ms
321:	total: 1.32s	remaining: 730ms
322:	total: 1.32s	remaining: 725ms
323:	total: 1.33s	remaining: 721ms
324:	total: 1.33s	remaining: 716ms
325:	total: 1.33s	remaining: 712ms
326:	total: 1.34s	remaining: 707ms
327:	total: 1.34s	remaining: 703ms
328:	total: 1.34s	remaining: 699ms
329:	total: 1.35s	remaining: 695ms
330:	total: 1.35s	remaining: 689ms
331:	total: 1.35s	remaining: 685ms
332:	total: 1.36s	remaining: 681ms
333:	total: 1.36s	remaining: 677ms
334:	total: 1.37s	remaining: 673ms
335:	total: 1.37s	remaining: 669ms
336:	total: 1.38s	remaining: 665ms
337:	total: 1.38s	remaining: 661ms
338:	total: 1.38s	remaining: 657ms
339:	total: 1.39s	remaining: 653ms
340:	total: 1.39s	remaining: 650ms
341:	total: 1.4s	remaining: 645ms
342:	total: 1.4s	remaining: 641ms
343:	total: 1.4s	remaining: 637ms
344:	total: 1.41s	remaining: 633ms
345:	total: 1.41s	remaining: 629ms
346:	total: 1.42s	remaining: 625ms
347:	total: 1.42s	remaining: 620ms
348:	total: 1.42s	remaining: 616ms
349:	total: 1.43s	remaining: 611ms
350:	total: 1.43s	remaining: 607ms
351:	total: 1.43s	remaining: 602ms
352:	total: 1.44s	remaining: 598ms
353:	total: 1.44s	remaining: 594ms
354:	total: 1.44s	remaining: 589ms
355:	total: 1.45s	remaining: 585ms
356:	total: 1.45s	remaining: 581ms
357:	total: 1.45s	remaining: 576ms
358:	total: 1.46s	remaining: 572ms
359:	total: 1.46s	remaining: 568ms
360:	total: 1.46s	remaining: 563ms
361:	total: 1.47s	remaining: 559ms
362:	total: 1.47s	remaining: 554ms
363:	total: 1.47s	remaining: 550ms
364:	total: 1.48s	remaining: 546ms
365:	total: 1.48s	remaining: 541ms
366:	total: 1.48s	remaining: 536ms
367:	total: 1.48s	remaining: 532ms
368:	total: 1.49s	remaining: 528ms
369:	total: 1.49s	remaining: 524ms
370:	total: 1.49s	remaining: 519ms
371:	total: 1.5s	remaining: 515ms
372:	total: 1.5s	remaining: 511ms
373:	total: 1.5s	remaining: 506ms
374:	total: 1.51s	remaining: 502ms
375:	total: 1.51s	remaining: 498ms
376:	total: 1.51s	remaining: 494ms
377:	total: 1.52s	remaining: 489ms
378:	total: 1.52s	remaining: 485ms
379:	total: 1.52s	remaining: 481ms
380:	total: 1.52s	remaining: 477ms
381:	total: 1.53s	remaining: 472ms
382:	total: 1.53s	remaining: 468ms
383:	total: 1.54s	remaining: 464ms
384:	total: 1.54s	remaining: 461ms
385:	total: 1.55s	remaining: 459ms
386:	total: 1.56s	remaining: 455ms
387:	total: 1.56s	remaining: 451ms
388:	total: 1.57s	remaining: 447ms
389:	total: 1.57s	remaining: 444ms
390:	total: 1.58s	remaining: 439ms
391:	total: 1.58s	remaining: 436ms
392:	total: 1.59s	remaining: 432ms
393:	total: 1.59s	remaining: 429ms
394:	total: 1.6s	remaining: 425ms
395:	total: 1.6s	remaining: 421ms
396:	total: 1.61s	remaining: 417ms
397:	total: 1.61s	remaining: 413ms
398:	total: 1.61s	remaining: 408ms
399:	total: 1.62s	remaining: 404ms
400:	total: 1.62s	remaining: 400ms
401:	total: 1.62s	remaining: 396ms
402:	total: 1.63s	remaining: 392ms
403:	total: 1.63s	remaining: 387ms
404:	total: 1.63s	remaining: 383ms
405:	total: 1.64s	remaining: 379ms
406:	total: 1.64s	remaining: 375ms
407:	total: 1.64s	remaining: 371ms
408:	total: 1.65s	remaining: 366ms
409:	total: 1.65s	remaining: 362ms
410:	total: 1.65s	remaining: 358ms
411:	total: 1.66s	remaining: 354ms
412:	total: 1.66s	remaining: 350ms
413:	total: 1.66s	remaining: 345ms
414:	total: 1.67s	remaining: 341ms
415:	total: 1.67s	remaining: 337ms
416:	total: 1.67s	remaining: 333ms
417:	total: 1.68s	remaining: 329ms
418:	total: 1.68s	remaining: 325ms
419:	total: 1.68s	remaining: 321ms
420:	total: 1.69s	remaining: 316ms
421:	total: 1.69s	remaining: 312ms
422:	total: 1.69s	remaining: 308ms
423:	total: 1.69s	remaining: 304ms
424:	total: 1.7s	remaining: 300ms
425:	total: 1.7s	remaining: 295ms
426:	total: 1.7s	remaining: 291ms
427:	total: 1.71s	remaining: 287ms
428:	total: 1.71s	remaining: 283ms
429:	total: 1.71s	remaining: 279ms
430:	total: 1.72s	remaining: 275ms
431:	total: 1.72s	remaining: 271ms
432:	total: 1.72s	remaining: 267ms
433:	total: 1.73s	remaining: 262ms
434:	total: 1.73s	remaining: 258ms
435:	total: 1.73s	remaining: 254ms
436:	total: 1.73s	remaining: 250ms
437:	total: 1.74s	remaining: 246ms
438:	total: 1.74s	remaining: 242ms
439:	total: 1.74s	remaining: 238ms
440:	total: 1.75s	remaining: 234ms
441:	total: 1.75s	remaining: 230ms
442:	total: 1.76s	remaining: 226ms
443:	total: 1.76s	remaining: 222ms
444:	total: 1.76s	remaining: 218ms
445:	total: 1.77s	remaining: 214ms
446:	total: 1.77s	remaining: 210ms
447:	total: 1.77s	remaining: 206ms
448:	total: 1.78s	remaining: 202ms
449:	total: 1.78s	remaining: 198ms
450:	total: 1.79s	remaining: 194ms
451:	total: 1.79s	remaining: 191ms
452:	total: 1.79s	remaining: 186ms
453:	total: 1.8s	remaining: 182ms
454:	total: 1.8s	remaining: 179ms
455:	total: 1.81s	remaining: 175ms
456:	total: 1.81s	remaining: 171ms
457:	total: 1.82s	remaining: 167ms
458:	total: 1.82s	remaining: 163ms
459:	total: 1.83s	remaining: 159ms
460:	total: 1.84s	remaining: 155ms
461:	total: 1.84s	remaining: 151ms
462:	total: 1.84s	remaining: 147ms
463:	total: 1.85s	remaining: 143ms
464:	total: 1.85s	remaining: 139ms
465:	total: 1.85s	remaining: 135ms
466:	total: 1.86s	remaining: 131ms
467:	total: 1.86s	remaining: 127ms
468:	total: 1.86s	remaining: 123ms
469:	total: 1.87s	remaining: 119ms
470:	total: 1.87s	remaining: 115ms
471:	total: 1.88s	remaining: 111ms
472:	total: 1.88s	remaining: 107ms
473:	total: 1.88s	remaining: 103ms
474:	total: 1.89s	remaining: 99.3ms
475:	total: 1.89s	remaining: 95.2ms
476:	total: 1.89s	remaining: 91.2ms
477:	total: 1.9s	remaining: 87.2ms
478:	total: 1.9s	remaining: 83.2ms
479:	total: 1.9s	remaining: 79.3ms
480:	total: 1.91s	remaining: 75.3ms
481:	total: 1.91s	remaining: 71.3ms
482:	total: 1.91s	remaining: 67.3ms
483:	total: 1.92s	remaining: 63.3ms
484:	total: 1.92s	remaining: 59.4ms
485:	total: 1.92s	remaining: 55.4ms
486:	total: 1.92s	remaining: 51.4ms
487:	total: 1.93s	remaining: 47.4ms
488:	total: 1.93s	remaining: 43.5ms
489:	total: 1.94s	remaining: 39.5ms
490:	total: 1.94s	remaining: 35.6ms
491:	total: 1.95s	remaining: 31.6ms
492:	total: 1.95s	remaining: 27.7ms
493:	total: 1.95s	remaining: 23.7ms
494:	total: 1.96s	remaining: 19.8ms
495:	total: 1.96s	remaining: 15.8ms
496:	total: 1.97s	remaining: 11.9ms
497:	total: 1.97s	remaining: 7.92ms
498:	total: 1.98s	remaining: 3.96ms
499:	total: 1.98s	remaining: 0us

#### 第2步：載入測試集、資料處理、預測

In [215]:
test_df = pd.read_csv('titanic/test.csv')
##資料處理

# pred = model.predict(test_df)

In [216]:
test_df = test_df.drop(['Name'],axis=1)
test_df = test_df.drop(['Cabin'],axis=1)
test_df = test_df.drop(['Ticket'],axis=1)
test_df = test_df.drop(['PassengerId'],axis=1)
test_df = test_df.fillna(0)
test_df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [217]:
test_df['Sex'] = test_df['Sex'].astype('category').cat.codes
test_df['Embarked'] = test_df['Embarked'].astype('category').cat.codes
test_df.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [218]:
for x in test_df.columns:
    test_df[x]=scaler.fit_transform(test_df[x].to_frame())
test_df.head()

   Pclass  Sex       Age  SibSp     Parch      Fare  Embarked
0     1.0  1.0  0.453947  0.000  0.000000  0.015282       0.5
1     1.0  0.0  0.618421  0.125  0.000000  0.013663       1.0
2     0.5  1.0  0.815789  0.000  0.000000  0.018909       0.5
3     1.0  1.0  0.355263  0.000  0.000000  0.016908       1.0
4     1.0  0.0  0.289474  0.125  0.111111  0.023984       1.0

In [219]:
pred_dt = model_dt.predict(test_df)
pred_rf = model_rf.predict(test_df)
pred_gb = model_gb.predict(test_df)
pred_lr = model_lr.predict(test_df)
pred_svc = model_svc.predict(test_df)
pred_xgb = model_xgb.predict(test_df)
pred_lgb = model_lgb.predict(test_df)
pred_cb = model_cb.predict(test_df)

#### 最後一步：上傳檔案

In [222]:
import numpy as np
submission_dt = pd.read_csv('titanic/gender_submission.csv')
submission_dt.Survived=pred_dt
submission_dt.to_csv('titanic/submission_dt.csv',index=False)

In [223]:
submission_rf = pd.read_csv('titanic/gender_submission.csv')
submission_rf.Survived=pred_rf
submission_rf.to_csv('titanic/submission_rf.csv',index=False)

In [224]:
submission_gb = pd.read_csv('titanic/gender_submission.csv')
submission_gb.Survived=pred_gb
submission_gb.to_csv('titanic/submission_gb.csv',index=False)

In [225]:
submission_lr = pd.read_csv('titanic/gender_submission.csv')
submission_lr.Survived=pred_lr
submission_lr.to_csv('titanic/submission_lr.csv',index=False)

In [227]:
submission_svc = pd.read_csv('titanic/gender_submission.csv')
submission_svc.Survived=pred_svc
submission_svc.to_csv('titanic/submission_svc.csv',index=False)

In [228]:
submission_xgb = pd.read_csv('titanic/gender_submission.csv')
submission_xgb.Survived=pred_xgb
submission_xgb.to_csv('titanic/submission_xgb.csv',index=False)

In [229]:
submission_lgb = pd.read_csv('titanic/gender_submission.csv')
submission_lgb.Survived=pred_lgb
submission_lgb.to_csv('titanic/submission_lgb.csv',index=False)

In [230]:
submission_cb = pd.read_csv('titanic/gender_submission.csv')
submission_cb.Survived=pred_cb
submission_cb.to_csv('titanic/submission_cb.csv',index=False)