## kaggle鐵達尼號專題（專題1）
    
### 評分標準：Kaggle分數再開根號乘以十（四捨五入）
e.x. Kaggle正確率76 >> 最終分數87

注意事項
<li>需上傳ipynb檔以及kaggle的分數截圖</li>
<li>若正確率100%將不計分</li>
<li>不得使用別人寫好的程式碼</li>

#### 第0步：下載資料 (https://www.kaggle.com/c/titanic)

In [1]:
import pandas as pd
df = pd.read_csv('titanic/train.csv')
train_df = df.drop(['Survived'],axis=1)
target = df.Survived.to_numpy()
train_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### 第1步：資料處理、模型製作、訓練

In [3]:
###全部由你自己寫

#### 第2步：載入測試集、資料處理、預測

In [5]:
test_df = pd.read_csv('titanic/test.csv')
##資料處理

# pred = model.predict(test_df)

#### 最後一步：上傳檔案

In [6]:
import numpy as np
pred = np.random.randint(0,2,test_df.shape[0])
submission = pd.read_csv('titanic/gender_submission.csv')
submission.Survived=pred
submission.head()

   PassengerId  Survived
0          892         1
1          893         1
2          894         1
3          895         0
4          896         0

In [7]:
submission.to_csv('titanic/submission.csv',index=False)